.intro .container {
  text-align: initial;
}
.hoe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hoe h1 {
  width: 100%;
}

.hoe ul {
  width: 80%;
  margin: 0;
}

.hoe li {
  height: 10rem;
}

.hoe h2 {
  color: var(--accent);
  margin-top: 0;
}

.steps {
  width: 1.5rem;
  height: 100%;
}

.bullet1 {
  background: transparent url(/images/bullet1.svg);
}

.bullet2 {
  background: transparent url(/images/bullet2.svg);
}

.bullet3 {
  background: transparent url(/images/bullet3.svg);
}

.steps figure {
  height: 1.25rem;
  width: 1.25rem;
}

.steps div {
  width: 2px;
  height: 7rem;
  background: var(--accent);
  margin: 1rem auto;
}

.hand {
  background: transparent url(/images/hand.svg);
}

.deal {
  background: transparent url(/images/deal.svg);
}

.client {
  background: transparent url(/images/client.svg);
}

.cards {
  margin-bottom: 3rem;
}

@media (min-width: 56.25rem) {
  .hoe {
    flex-direction: column;
    height: fit-content;
    text-align: center;
  }

  .steps div {
    width: 19.75vw;
    height: 2px;
    background: var(--accent);
    margin: auto;
  }

  .steps {
    width: fit-content;
    margin: 3rem auto 0 auto;
    height: 1.5rem;
    display: flex;
    gap: 3.5rem;
  }

  .hoe ul {
    width: 100%;
    margin: 2rem 0 0 0;
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
  }

  .hoe li {
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 2rem;
    height: initial;
    min-height: 7.1875rem;
    max-width: 17rem;
  }
  .waarom {
    text-align: center;
  }
}
